@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-black text-white max-w-[6.5rem] w-full h-[3rem] rounded-xl font-pm font-light transition-all duration-300;
  }
  .formp {
    @apply font-pm font-bol text-[1rem] leading-[21.78px];
  }
  .forminput {
    @apply w-full outline-none focus:border-black font-med h-[3.5rem] small:h-[3.5rem]  rounded-xl px-7 border border-borderColorP focus:text-black  hover:shadow-xl transition duration-[100ms];
  }
}

.li_Nav::after {
  content: attr(div);
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #0cbc8b;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.video::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.77);
  position: absolute;
  inset: 0;
}
.dashedDiv {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='rgba(255, 255, 255, 1)' stroke-width='1.5' stroke-dasharray='7.5%2c 12' stroke-dashoffset='25' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 98% 98%;
}
.dashedSmDiv {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='rgba(218, 218, 218, 1)' stroke-width='1.5' stroke-dasharray='5%2c 10' stroke-dashoffset='22' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 11px;
}
.edge {
  border-bottom: 256px solid #f3fcf9;
  border-right: 100vw solid white;
}
.edge2 {
  border-bottom: 240px solid #f3fcf9;
  border-right: 86vw solid white;
}

.bg1 {
  background: linear-gradient(
    218.79deg,
    rgba(255, 255, 255, 0) 73.99%,
    rgba(12, 188, 139, 0.4) 101.95%
  );
}
.bg2 {
  background: linear-gradient(
    176deg,
    rgba(255, 255, 255, 0) 54%,
    rgba(17, 209, 0, 0.3) 100%
  );
}
.rdt {
  width: 100%;
}

@media (max-width: 1062px) {
  .bg1 {
    background: linear-gradient(
      218.79deg,
      rgba(255, 255, 255, 0) 73.99%,
      rgba(12, 188, 139, 0.4) 101.95%
    );
  }
  .bg2 {
    background: linear-gradient(
      176deg,
      rgba(255, 255, 255, 0) 16%,
      rgba(17, 209, 0, 0.3) 100%
    );
  }
}

@media (max-width: 969px) {
  .edge {
    border-bottom: 216px solid #f3fcf9;
  }
  .edge2 {
    border-bottom: 151px solid #f3fcf9;
    border-right: 79vw solid white;
  }
}
@media (max-width: 747px) {
  .edge {
    border-bottom: 150px solid #f3fcf9;
  }
}

@media (max-width: 500px) {
  .edge {
    border-bottom: 120px solid #f3fcf9;
  }
  .edge2 {
    border-bottom: 120px solid #f3fcf9;
    border-right: 59vw solid white;
  }
}

.mP {
  background: rgb(243, 252, 249);
  background: -moz-linear-gradient(
    180deg,
    rgba(243, 252, 249, 1) 81%,
    rgba(255, 255, 255, 1) 94%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(243, 252, 249, 1) 81%,
    rgba(255, 255, 255, 1) 94%
  );
  background: linear-gradient(
    180deg,
    rgba(243, 252, 249, 1) 81%,
    rgba(255, 255, 255, 1) 94%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3fcf9",endColorstr="#ffffff",GradientType=1);
}

.mP2 {
  background: linear-gradient(
    179deg,
    rgba(243, 252, 249, 1) 15%,
    rgba(255, 255, 255, 1) 69%
  );
}
.mPedge {
  border-image: linear-gradient(
    179deg,
    rgba(243, 252, 249, 1) 15%,
    rgba(255, 255, 255, 1) 69%
  );
}

.mP3 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(12, 188, 138, 0.119) 0%,
    rgba(217, 217, 217, 0) 86.46%
  );
}

.react-multi-carousel-track li {
  height: 37rem !important ;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .react-multi-carousel-track li {
    height: 34rem !important ;
  }
}
.react-multi-carousel-track {
  display: flex !important ;
  justify-content: center !important ;
  align-items: center !important ;
}

.react-multi-carousel-list {
  z-index: 20;
}
.card:hover .cardPic {
  border-color: black;
}

@media (max-width: 409px) {
  .scrapBtn {
    width: 10rem !important;
  }
}
@media (max-width: 393px) {
  .scrapBtn {
    width: 9.5rem !important;
  }
}
@media (max-width: 377px) {
  .scrapBtn {
    width: 9rem !important;
  }
}
@media (max-width: 361px) {
  .scrapBtn {
    width: 8.7rem !important;
  }
}

.calendar-body .calendar-dates li {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1262px) {
  .calendar-dates li::before {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 968px) {
  .calendar-body li {
    width: calc(100% / 7) !important;
  }
}

.calendar-dates li:not(.active):hover::before {
  background: black;
}

.selectedLI::before {
  background: black;
}

.dashedBorder {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='white' stroke-width='2' stroke-dasharray='4%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
}

.bgGradientDark {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(12, 188, 138, 0.241) 0%,
    rgba(217, 217, 217, 0) 86.46%
  );
}

@media (max-width: 960px) {
  .bgGradientDark {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(12, 188, 138, 0.201) 29%,
      rgba(217, 217, 217, 0) 86.46%
    );
  }
}

.urduul {
  word-spacing: 0.35em;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}
