@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-black text-white max-w-[6.5rem] w-full h-[3rem] rounded-xl font-pm font-light;
  }
}

.li_Nav::after {
  content: attr(div);
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #0cbc8b;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

table {
  border-spacing: 0.6em 0.2em;
  border-collapse: separate;
}
.rdtPicker {
  position: relative !important;
  min-width: 100% !important;
}
.form-control {
  display: none;
}
.rdtDays {
  border: none;
}
.rdtPicker {
  border: none !important;
  box-shadow: none !important ;
}
.rdtDay {
  border-radius: 100%;
}
td {
  width: 2rem;
  height: 2rem !important;
}
.rdt {
  /* scale: 0.9; */
  position: absolute !important;
  top: -0px;
  left: -0px;
}
.rdtDay:hover {
  background-color: black !important;
  color: white !important;
}
.rdtActive {
  background-color: black !important;
  color: white !important;
}
tfoot {
  display: none;
}
.rdtPicker {
  margin: 0 !important;
  padding: 0 !important ;
}
.rdtNew {
  color: transparent !important;
  pointer-events: none !important;
}

.video::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.77);
  position: absolute;
  inset: 0;
}

@media (max-width: 1256px) and (min-width: 969px) {
  table {
    border-spacing: 0.3em 0.2em;
    border-collapse: separate;
  }
  .rdt {
    position: absolute !important;
    top: -0px;
    left: -15px;
  }
}

@media (max-width: 969px) {
  table {
    border-spacing: 3em 0.2em !important;
    border-collapse: separate;
  }
}
@media (max-width: 747px) {
  table {
    border-spacing: 2em 0.2em !important;
    border-collapse: separate;
  }
}
@media (max-width: 617px) {
  table {
    border-spacing: 1em 0.2em !important;
    border-collapse: separate;
  }
}
@media (max-width: 500px) {
  table {
    border-spacing: 0.2em 0.2em !important;
    border-collapse: separate;
  }
}

.mP {
  background: linear-gradient(#f3fcf9 22.2%, rgba(255, 255, 255, 0) 73.52%);
}

.edge {
  border-bottom: 256px solid #f3fcf9;
  border-right: 100vw solid white;
}
